html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.container {
	max-width: 1000px;
	background-color: #ffffff;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap; /* 1 */
}

body {
	margin: 0;
	padding: 0;
	color: black;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
}

h1 {
	font-family: 'Port Lligat Slab', serif;
	color: #bc0000;
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

a {
	color: #68d5ca;
}

body {
  background: #ffffff url(../img/red.jpg) repeat;
}

header {
  background-color: white;
}

#logo {
	text-align: center;
	padding: 40px 0px 40px 0px;
}
