html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.container {
	max-width: 1000px;
	background-color: #ffffff;
  margin: 0 auto;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap; /* 1 */
}

body {
	margin: 0;
	padding: 0;
	color: black;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
}

h1 {
	font-family: 'Port Lligat Slab', serif;
	color: #bc0000;
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

a {
	color: #68d5ca;
}

body {
  background: #ffffff url(../img/red.jpg) repeat;
}

header {
  background-color: white;
}

#logo {
	text-align: center;
	padding: 40px 0px 40px 0px;
}

#header {
	height: auto;
	margin: auto;
}

nav ul {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	padding-bottom: 0.5em;
	list-style: none;
}

nav a {
  display: inline-block;
  line-height: 44px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  color: #bc0000;
  border: none;
}

#nav a:hover {
  display: inline-block;
  line-height: 44px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  border: none;
  color: #ffd800;
}

@media all and (min-width: 500px) {
	nav li {
		width: 100%;
		display: inline-block;
	}
}

@media all and (min-width: 750px) {
	nav li {
		width: calc(100% / 3);
	}
}

@media all and (min-width: 900px) {
	nav li {
		width: calc(100% / 6);
	}
}

#banner {
	margin: 0px auto;
}

#banner img {
	width: 100%;
	height: auto;
	background: url(../img/banner.jpg) no-repeat left bottom;
}

main h1 {
	text-align: center;
	font-size: 2.5em;
	letter-spacing: 0.1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

main p {
	text-align: center;
	font-size: 1.2em;
	padding: 0 2em 0 2em;
	line-height: 2em;
}

@media all and (min-width: 300px) {
	main h1 {
		text-align: center;
		font-size: 1.3em;
		letter-spacing: 0.1em;
		line-height: 2em;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	main p {
		text-align: center;
		font-size: 1em;
		padding: 0 2em 0 2em;
		line-height: 2em;
	}
}

@media all and (min-width: 500px) {
	main h1 {
		text-align: center;
		font-size: 1.5em;
		letter-spacing: 0.1em;
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

@media all and (min-width: 750px) {
	main h1 {
		text-align: center;
		font-size: 2.5em;
		letter-spacing: 0.1em;
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

footer {
	padding: 50px 0 50px 0;
	background-color: #bc0000;
	font-family: 'Port Lligat Slab', serif;
	text-align: center;
}

footer p {
	padding-top: 10px;
	letter-spacing: 1px;
	line-height: normal;
	text-transform: uppercase;
	color: #ffffff;
}

footer a {
	padding-top: 20px;
	letter-spacing: 1px;
	line-height: normal;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

footer a:hover {
	padding-top: 20px;
	letter-spacing: 1px;
	line-height: normal;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffd800;
}

footer a + a {
	padding-left: 2em;
}
