html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

#events {
	background-color: #aeca3b;
	color: #ffffff;
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px 0;
	margin: 0 auto;
	text-align: center;
	letter-spacing: 0.03em;
}

@media all and (min-width: 300px) {
	#events {
		background-color: #aeca3b;
		color: #ffffff;
		display: block;
		position: fixed;
		top: 0;
		width: 100%;
		padding: 10px 0;
		margin: 0 auto;
		text-align: center;
		letter-spacing: 0.03em;
		line-height: 1.5em;
	}
}

@media all and (min-width: 500px) {
	#events {
		background-color: #aeca3b;
		color: #ffffff;
		display: block;
		position: fixed;
		top: 0;
		width: 100%;
		padding: 10px 0;
		margin: 0 auto;
		text-align: center;
		letter-spacing: 0.03em;
	}
}

@media all and (min-width: 750px) {
	#events {
		background-color: #aeca3b;
		color: #ffffff;
		display: block;
		position: fixed;
		top: 0;
		width: 100%;
		padding: 10px 0;
		margin: 0 auto;
		text-align: center;
		letter-spacing: 0.03em;
	}
}

.container {
	max-width: 1000px;
	background-color: #ffffff;
	margin: 0 auto;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap; /* 1 */
}

body {
	margin: 0;
	padding: 0;
	color: black;
	font-family: 'Roboto', sans-serif;
}

/* HOME PAGE */
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
}

h1 {
	font-family: 'Port Lligat Slab', serif;
	color: #bc0000;
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

a {
	color: #68d5ca;
}

header {
	background-color: white;
	margin-top: 3em;
}

@media all and (min-width: 300px) {
	header {
		background-color: white;
		margin-top: 6em;
	}
}

@media all and (min-width: 500px) {
	header {
		background-color: white;
		margin-top: 5em;
	}
}

@media all and (min-width: 750px) {
	header {
		background-color: white;
		margin-top: 3em;
	}
}

#logo {
	text-align: center;
	padding: 60px 0 60px 0;
}

#header {
	height: auto;
	margin: auto;
}

nav ul {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	padding-bottom: 0.5em;
	list-style: none;
}

nav a {
	display: inline-block;
	line-height: 3em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	color: #bc0000;
	border: none;
}

#nav a:hover {
	display: inline-block;
	line-height: 3em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	border: none;
	color: #ffd800;
}

@media all and (min-width: 300px) {
	nav li {
		width: 100%;
		display: inline-block;
		text-align: center;
		font-size: 1em;
	}
}

@media all and (min-width: 500px) {
	nav li {
		width: calc(100% / 3);
		text-align: center;
	}
}

@media all and (min-width: 750px) {
	nav li {
		width: calc(100% / 6);
		text-align: center;
	}
}

#banner {
	margin: 0 auto;
}

#banner img {
	width: 100%;
	height: auto;
	background: url(../img/banner.jpg) no-repeat left bottom;
}

main {
	padding: 0 0 3em 0;
}

main h1 {
	text-align: center;
	font-size: 2.5em;
	letter-spacing: 0.1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

main p {
	text-align: center;
	font-size: 1.2em;
	line-height: 2em;
}

figure {
	margin-top: 3em;
}

figure img {
	height: auto;
	width: calc(100% / 3);
	border-radius: 5px;
}

figcaption {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 0.15em;
	font-size: 1em;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

@media all and (min-width: 300px) {
	figure img {
		margin: 0 auto;
		height: auto;
		width: calc(100% / 1.5);
	}

	figcaption {
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		letter-spacing: 0.2em;
		font-size: 1em;
		line-height: 2em;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

@media all and (min-width: 500px) {
	figure img {
		margin: 0 auto;
		height: auto;
		width: calc(100% / 2);
	}

	figcaption {
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		letter-spacing: 0.2em;
		font-size: 1em;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

@media all and (min-width: 750px) {
	figure img {
		margin: 0 auto;
		height: auto;
		width: calc(100% / 3);
	}

	figcaption {
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		letter-spacing: 0.2em;
		font-size: 1em;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

article {
	text-align: center;
}

article .button {
	background-color: #68d5ca;
	border: none;
	border-radius: 3px;
	color: white;
	padding: 15px 32px;
	margin-top: 3em;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 0.05em;
}

article .button:hover {
	background-color: #ffffff;
	border: #68d5ca solid 2px;
	border-radius: 3px;
	color: #68d5ca;
	padding: 15px 32px;
	margin-top: 3em;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 0.05em;
}

@media all and (min-width: 300px) {
	main h1 {
		text-align: center;
		font-size: 1.3em;
		letter-spacing: 0.1em;
		line-height: 2em;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	main p {
		text-align: center;
		font-size: 1em;
		padding: 0 2em 0 2em;
		line-height: 2em;
	}
}

@media all and (min-width: 500px) {
	main h1 {
		text-align: center;
		font-size: 1.5em;
		letter-spacing: 0.1em;
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

@media all and (min-width: 750px) {
	main h1 {
		text-align: center;
		font-size: 2.5em;
		letter-spacing: 0.1em;
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

footer {
	padding: 20px 0 20px 0;
	background-color: #bc0000;
	font-family: 'Port Lligat Slab', serif;
	text-align: center;
}

footer p {
	padding: 10px 10px;
	letter-spacing: 1px;
	line-height: normal;
	text-transform: uppercase;
	color: #ffffff;
}

footer a {
	padding-top: 20px;
	letter-spacing: 1px;
	line-height: normal;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

footer a:hover {
	padding-top: 20px;
	letter-spacing: 1px;
	line-height: normal;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffd800;
}

footer a + a {
	padding-left: 2em;
}

footer img {
	display: inline-block;
	text-align: center;
	width: 5%;
	height: auto;
	border: 2px solid #ffffff;
	border-radius: 5px;
}

@media all and (min-width: 300px) {
	footer img {
		display: inline-block;
		text-align: center;
		width: 8%;
		height: auto;
	}
}

@media all and (min-width: 500px) {
	footer img {
		display: inline-block;
		text-align: center;
		width: 7%;
		height: auto;
	}
}

@media all and (min-width: 750px) {
	footer img {
		display: inline-block;
		text-align: center;
		width: 5%;
		height: auto;
	}
}

/* ABOUT PAGE */
#chang figcaption {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 0.75em;
	font-size: 0.5em;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

@media all and (min-width: 300px) {
	#chang img {
		margin: 0 auto;
		height: auto;
		width: calc(100% / 1.5);
	}

	#chang figcaption {
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		letter-spacing: 0.2em;
		font-size: 0.75em;
		line-height: 2em;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

@media all and (min-width: 500px) {
	#chang img {
		margin: 0 auto;
		height: auto;
		width: calc(100% / 2);
	}

	#chang figcaption {
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		letter-spacing: 0.2em;
		font-size: 0.85em;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

@media all and (min-width: 750px) {
	#chang  img {
		margin: 0 auto;
		height: auto;
		width: calc(100% / 3);
	}

	#chang figcaption {
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		letter-spacing: 0.2em;
		font-size: 0.85em;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

/* MENU PAGE */
.menu h1 {
	font-family: 'Port Lligat Slab', serif;
	color: #aeca3b;
	font-size: 2em;
	text-align: center;
	margin: 0 auto;
	letter-spacing: 0.1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.menu h2 {
	font-family: 'Port Lligat Slab', serif;
	color: #bc0000;
	font-size: 2em;
	letter-spacing: 0.1em;
	margin-top: 2em;
	padding-bottom: 0.5em;
}

.menu ul {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	list-style: none;
}

.menu ul li {
	display: block;
	line-height: 4em;
	text-decoration: none;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	letter-spacing: 0.05em;
	color: black;
}

#note {
	text-align: center;
	font-size: 1em;
	padding: 0;
	margin: 0;
	font-style: italic;
}

@media all and (min-width: 300px) {
	.menu h1 {
		font-family: 'Port Lligat Slab', serif;
		color: #aeca3b;
		font-size: 2em;
		text-align: center;
		margin: 0 auto;
		letter-spacing: 0.1em;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.menu h2 {
		font-family: 'Port Lligat Slab', serif;
		color: #bc0000;
		font-size: 1.5em;
		letter-spacing: 0.1em;
		margin-top: 2em;
		padding-bottom: 0.5em;
	}

	.menu ul {
		margin: 0 auto;
		padding: 0 30px 0 30px;
		text-align: center;
		list-style: none;
	}

	.menu ul li {
		display: block;
		line-height: 4em;
		text-decoration: none;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 0.85em;
		letter-spacing: 0.05em;
		color: black;
	}

	#note {
		text-align: center;
		font-size: 0.85em;
		padding: 0 30px 0 30px;
		margin: 0;
		font-style: italic;
	}
}

@media all and (min-width: 500px) {

	.menu ul {
		margin: 0 auto;
		padding: 0 20px 0 20px;
		text-align: center;
		list-style: none;
	}

	#note {
		text-align: center;
		font-size: 0.85em;
		padding: 0 20px 0 20px;
		margin: 0;
		font-style: italic;
	}
}

@media all and (min-width: 750px) {
	.menu h1 {
		font-family: 'Port Lligat Slab', serif;
		color: #aeca3b;
		font-size: 2em;
		text-align: center;
		margin: 0 auto;
		letter-spacing: 0.1em;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.menu h2 {
		font-family: 'Port Lligat Slab', serif;
		color: #bc0000;
		font-size: 1.75em;
		letter-spacing: 0.1em;
		margin-top: 2em;
		padding-bottom: 0.5em;
	}

	.menu ul {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		list-style: none;
	}

	.menu ul li {
		display: block;
		line-height: 4em;
		text-decoration: none;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 1em;
		letter-spacing: 0.05em;
		color: black;
	}

	#note {
		text-align: center;
		font-size: 1em;
		padding: 0;
		margin: 0;
		font-style: italic;
	}
}

/* PHOTOS PAGE */
.responsive-image {
	max-width: 100%;
}

.cell img {
	display: block;
}

.cell {
	margin: 1em;
}

#chips,
#fries,
#salad {
	margin-top: 0;
}

@media screen and (min-width: 500px) {
	.grid {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.cell {
		width: calc(50% - 2em);
	}
}

@media screen and (min-width: 750px) {
	.cell {
		width: calc(33.3333% - 2em);
	}
}

.grid h2 {
	font-family: 'Port Lligat Slab', serif;
	color: #aeca3b;
	font-size: 2em;
	text-align: center;
	margin: 0 auto;
	font-size: 2.5em;
	letter-spacing: 0.1em;
	padding-top: 1em;
	padding-bottom: 1em;
}
